body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 60px;
}

#message-el {
    font-style: italic;
    font-size: 40px;
}

button {
    color: #016f32;
    height: 50px;
    width: 250px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 10px;
}

#ip {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    height: 30px;
}
#bidbutton{
   width: 30px;
}
